@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Shadows+Into+Light&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    
}
.hide{
    display: none;
}
.op-section{
    height: 100vh;
}
.op-navbar{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0rem;
    box-shadow: 0 2px 6px grey;
    background-color: white;
    z-index: 1;
    font-family: 'Shadows Into Light', cursive; 
}
.op-navbar >  p{
    font-size: 28px;
    font-weight: 600;
}
.op-container{
    display: flex;
    z-index: 0;
    height: calc(100vh);
    padding-top: 67px;
}
.op-lsb{
    width: 25%;
    padding: 1rem;
    border-right: 1px solid grey;
    height: 100%;
    overflow: hidden;
}
.op-lsb-menu, .op-rsb-menu{
    height: 90%;
    overflow: scroll;
}
.op-lsb-heading, .op-rsb-heading{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
}
.op-middle{
    width: 50%;
}
.op-rsb{
    width: 25%;
    padding: 1rem;
    border-left: 1px solid grey;
    height: 100%;
    overflow: hidden;
}
.op-lsb-menu-item{
    margin: 0 auto 2rem;
    padding: 1rem;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}
.menu-img{
    width: 100%;
    height: 100px;
    text-align: center;
}
.menu-img > img{
    width: 100px;
    height: 100px;
    filter: drop-shadow( 0 0 10px black);
}
.menu-heading{
    margin-top: 0.75rem;
}
.op-rsb-menu-item{
    margin: 0 auto 2rem;
    padding: 1rem;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}
.op-instruction{
    padding: 0.5rem 0;
    text-align: center;
}
.op-middle-holder{
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.op-holder{
    height: 300px;
    width: 300px;
    margin: auto;
    background: url(./Assets/PizzaHolder.svg);
    border-radius: 50%;
    position: relative;
}
.op-holder-wrapper{
    /* padding: 6rem;
    border-radius: 0.75rem;
    box-shadow: inset 0 0 10px black; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.op-holder-wrapper > div:first-child{
    position: static;
}
.op-holder-wrapper > div{
    position: absolute;
}
/* .toppings > img{
    position: absolute;
    z-index: 4;
}
.bases > img{
    position: absolute;
    z-index: 3;
} */


@media (max-width: 800px) and (min-width: 300px){
    html{
        font-size: 14px;
    }
    .op-container{
        flex-direction: column;
        min-height: 720px;
    }
    .op-lsb, .op-rsb{
        width: 100%;
        order: 0;
    }
    .op-lsb-heading, .op-rsb-heading{
        margin-bottom: 0rem;
    }
    .op-lsb-menu, .op-rsb-menu{
        width: 100%;
        display: flex;
        align-items: center;
    }
    .op-lsb-menu-item, .op-rsb-menu-item{
        margin-bottom: 0rem;
    }
    .menu-img{
        height: fit-content;
    }
    .menu-img > img{
        width: 50px;
        height: 50px;
    }
    .op-middle{
        width: 100%;
    }
    .op-lsb, .op-rsb{
        border: none
    }
    .op-lsb-menu, .op-rsb-menu{
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .menu-heading{
        width: max-content;
    }
}
